@media(min-width: 2901px)
{
    .btnA
    {
        font-size: 400%;
    }
    .span5
    {
        font-size: 450%;
    }
    .span6
    {
        font-size: 400%;
    }
}
@media (min-width: 2201px) and (max-width: 2900px)
{
    .btnA
    {
        font-size: 250%;
    }
    .span5
    {
        font-size: 250%;
    }
    .span6
    {
        font-size: 200%;
    }
}
@media (min-width: 1001px) and (max-width: 2200px )
{
    .btnA
    {
        font-size: 130%;
    }
    .span5
    {
        font-size: 160%;
    }
    .span6
    {
        font-size: 110%;
    }
}
@media (min-width: 801px) and (max-width: 1000px )
{
    .btnA
    {
        font-size: 50%;
    }
    .span5
    {
        font-size: 150%;
    }
    .span6
    {
        font-size: 100%;
    }
}
@media (min-width:401px) and (max-width: 800px)
{
    .btnA
    {
        font-size: 40%;
    }
    .span5
    {
        font-size: 75%;
    }
    .span6
    {
        font-size: 75%;
    }
}
@media(max-width: 400px)
{
    .btnA
    {
        font-size: 30%;
    }
    .span5
    {
        font-size: 30%;
    }
    .span6
    {
        font-size: 30%;
    }
}